@import url("../../index.css");
@import url("./flipcard.css");

/*  */
.portfolio-main {
  height: calc(100vh - 7rem - 6px);
  background: #fff;
}

.portfolio-center {
  margin: 0 auto;

  background: black;
  width: 100%;
  min-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.portfolio-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  gap: 12rem;
}

.portfolio-img {
  min-height: calc(100vh - 7rem);
  height: 100%;
  object-fit: cover;
  display: block;
  max-height: 100%;
  width: 40vw;
  flex-basis: 40%;
  mask-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 1) 50%,
    rgba(0, 0, 0, 0) 100%
  );
}

.portfolio-text-container {
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  flex-basis: 60%;
  min-height: 100%;
  margin-bottom: 10rem;
}

h1 {
  font-size: 7rem;
  text-align: center;
  margin-bottom: 2rem;
  color: var(--clr-primary-3);
  text-shadow: 3px 3px 3px black;
}
.portfolio-text {
  display: block;
  font-size: 1.5rem;
  color: var(--clr-primary-3);
  width: 40rem;
  height: auto;
  letter-spacing: 3px;
  line-height: 1.5;
  text-shadow: 0.5px 0.5px 0.5px black;
}
.left {
  justify-content: flex-end;
  width: 100%;
}
.link-btn {
  margin-top: 4rem;
}
@media screen and (max-width: 1400px) {
  .portfolio-text {
    width: 30rem;
  }
  h1 {
    font-size: 5rem;
  }
}

@media screen and (max-width: 1180px) {
  h1 {
    font-size: 4rem;
  }
  .portfolio-center {
    height: auto;
  }
  .portfolio-container {
    flex-direction: column-reverse;
    gap: 5rem;
    justify-content: center;
    align-items: center;
  }
  .portfolio-img {
    margin-bottom: 4rem;
    mask-image: linear-gradient(
      to top,
      rgba(0, 0, 0, 1) 50%,
      rgba(0, 0, 0, 0) 100%
    );
    width: 100%;
    min-height: 50%;
  }
  .portfolio-main {
    height: calc(100vh - 7rem - 3px);
  }
  .portfolio-text-container {
    margin-top: 4rem;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 4rem;
  }

  .portfolio-text {
    width: auto;
    padding: 1rem;
  }
  .link-btn {
    margin-bottom: 4rem;
  }
}
.center {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
