/* @import url("../../index.css");
@import url("./flipcard.css"); */

/*  */
.portfolio-main {
  height: calc(100vh - 51px - 96px);
  background: #fff;
  position: relative;
  background: linear-gradient(
      to bottom,
      rgba(155, 74, 23, 0.5),
      rgba(0, 0, 0, 1)
    ),
    url("../../assets/form-image.png") center/contain;
}

.portfolio-center {
  margin: 0 auto;
  width: 100%;
  min-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.portfolio-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  gap: 12rem;
}

.portfolio-img {
  height: calc(100vh - 51px - 96px);
  object-fit: cover;
  display: block;
  max-height: 100%;
  width: 40vw;
  flex-basis: 40%;
  mask-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 1) 30%,
    rgba(0, 0, 0, 0) 100%
  );
}

.portfolio-text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-basis: 60%;
  height: 100%;
  margin-bottom: 10rem;
}

h1 {
  font-size: 5rem;
  text-align: center;
  margin-bottom: 2rem;
  font-size: 4em;
  color: rgba(218, 165, 32, 0.5);
  font-weight: bold;
  background: url("../../assets/texture.jpg") no-repeat center center;
  background-clip: text;
}
.portfolio-text-main {
  width: 100%;
  height: auto;
  /* background: url("../../assets/texture.jpg") no-repeat center center; */
  /* background-size: cover; */
}

.portfolio-text {
  position: relative;
  width: 100%;
  height: auto;
  z-index: 15;
  font-size: 1.5rem;
  letter-spacing: 5px;
  line-height: 2;
  color: rgba(218, 165, 32, 0.5);

  font-weight: bold;
  background: url("../../assets/texture.jpg") no-repeat center center;
  background-clip: text;
  padding: 1rem;
}
.left {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}
.center {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

@media screen and (max-width: 1400px) {
  h1 {
    font-size: 3rem;
  }
  .portfolio-center {
    height: auto;
  }

  .portfolio-img {
    display: none;
    margin-bottom: 4rem;
    mask-image: linear-gradient(
      to top,
      rgba(0, 0, 0, 1) 50%,
      rgba(0, 0, 0, 0) 100%
    );
    width: 100%;
    min-height: 50%;
  }
  .portfolio-main {
    height: calc(100vh - 51px - 96px);
  }
  .portfolio-text-container {
    margin-top: 4rem;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 4rem;

    flex-basis: 100%;
  }

  .portfolio-text {
    width: auto;
    padding: 1rem;
    font-size: 1.2rem;
  }
  .link-btn {
    margin-bottom: 4rem;
  }
}
.center {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
