.skills-logo-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  column-gap: 3rem; /* Adjust the gap between the logos as needed */
}

.logo-wrapper {
  position: relative;
}

.skills-logo {
  width: 50px;
  height: auto;
  flex: 1 1 2%; /* Flex-grow, flex-shrink, flex-basis */
}

.alt-text {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
}

.logo-wrapper:hover .alt-text {
  display: block;
  cursor: pointer;
}
