@import url("../../index.css");
/*  */
.projects-container {
  width: 100%;
  height: calc(100vh - 7rem - 6px);
  background: #fff;
  position: relative;
}
.projects-overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 5;
  background: linear-gradient(to bottom, var(--clr-primary-4), black, black);
  opacity: 0.4;
  pointer-events: none;
}
.projects-center {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100%;
  background: black;
}
.project-control {
  display: flex;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
}
.project {
  width: 18rem;

  margin: 2rem;
  justify-content: center;
  align-items: center;
}

.project-pic {
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: 1rem;
}

.project-title {
  display: block;
  color: var(--clr-primary-4);
  text-align: center;
  margin-top: 1rem;
  font-size: 2rem;
}
@media screen and (max-width: 900px) {
  .projects-container {
    height: calc(100vh - 7rem - 3px);
  }
  .project-control {
    flex-direction: column;
  }
}
